<form  class="example-form" (ngSubmit)="openDialog()">
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container
      *ngFor="let column of displayedColumns"
      matColumnDef="{{ column }}"
    >
      <th mat-header-cell *matHeaderCellDef>{{ titleColumnEnum[column] }}</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ returnValue(element[column])  }}
        <div *ngIf="isValorAResgatar(column)">
          <mat-form-field class="example-full-width" appearance="fill">
            <input
              type="text"
              matInput
              [formControl]="formsInput.controls[i]"

            />

            <mat-error *ngIf="formsInput.controls[i].hasError('valorMaior')">
           valor de resgate maior que <strong>{{element.saldoAcumulado |  currency:'BRL':true:'1.2-2'}}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      matRipple
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="goToResgate(row)"
    ></tr>
  </table>
  <section class="botao" *ngIf="displayedColumns.includes('valorAResgatar')" >
    <button mat-button mat-raised-button color="primary" type="submit" >CONFIRMAR RESGATE</button>
  </section>
</form>
