table {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}

.botao {
  position: absolute;
  margin: 1% 10%;
  right: 0;
}

mat-form-field{
  width: 100%;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: white radial-gradient(circle, transparent 1%, white 1%) center/15000%;
}
.ripple:active {
  background-color: #ccc;
  background-size: 100%;
  transition: background 0s;
}
